<h1>Log in</h1>

<%= form_for :fg, :url => sessions_path(@login) do %>
  <p>
    <%= label_tag 'username or email' %><br />
    <%= text_field_tag :username, params[:username] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p>
  	<%=label_tag :remember_me%>
  	<%=check_box_tag :remember_me, checked_value=1%>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>